.main-card {
  border-width: 3px;
  margin-top: 30px;
  padding: 10px;
}

.prev .card-title {
  text-align: center;
}

.prev .card-img-top {
  width: 50%;
  display: block;
  margin: 0 auto;
}
#city {
  text-transform: capitalize;
}
